aiohttp==3.10.8
beautifulsoup4==4.12.3
chromedriver_autoinstaller==0.2.2
disnake==2.9.2
disnake-ext-plugins==0.3.0
Flask==3.1.0
Flask_Cors==5.0.0
fuzzywuzzy==0.18.0
lxml==5.3.0
numpy==2.0.2
disnake-pagination==2.1
scipy==1.13.1
selenium==4.27.1
SQLAlchemy==2.0.35
waitress==3.0.2
logger==1.4.0
kaggle==1.6.17
